div{
    width: 45%;
    float: left;
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

div article{
    border: 2px solid red;
    padding: 2px;
    margin:5px;
}

h1{
    text-align: center;
}

#leftup{
    background-color: blue;
    color: azure;
}

#leftup article{
    background-color: yellow;
}

#rightup{
    background-color: chartreuse;
    color: cornflowerblue;
}

#rightup article{
    background-color: chocolate;
}

#leftdown{
    background-color: lawngreen;
    color: darkgoldenrod;
}

#leftdown article{
    background-color: brown;
}

#rightdown{
    background-color: aqua;
    color: lime;
}

#rightdown article{
    background-color: salmon;
}

html{
    background-color: crimson;
}

nav{
    background-color: fuchsia;
    width: 100%;
    
}

figure{
    text-align: center;
    font-size: 25px;
}

